.headerBlock {
    display: flex;
    justify-content: space-between;
    min-height: 84px;
    background-color: #E5E8EC;
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
}
.languages {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    width: 20%;
    font-size: 55px;
}