@import '../../../assets/styles/global.scss';

.footer {
    min-height: 50vh;
    background-color: $total-white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 300px;
  }
  .socials {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .img1 {
    background: url(../../../assets/imagesFooterBlock/facebook.svg);
    width: 60px;
    height: 60px;
    transition: 300ms;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    position: relative;
  }
  
  .img2 {
    background: url(../../../assets/imagesFooterBlock/instagram.svg);
    width: 60px;
    height: 60px;
    transition: 300ms;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    position: relative;
  }
  
  .img3 {
    background: url(../../../assets/imagesFooterBlock/youtube.png);
    width: 60px;
    height: 60px;
    transition: 300ms;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    position: relative;
  }
  .img4 {
    background: url(../../../assets/imagesFooterBlock/telegram.svg);
    width: 60px;
    height: 60px;
    transition: 300ms;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    position: relative;
  }
  
  .bottom {
    color: $total-dark-623;
    font-size: 15px;
    text-align: center;
  }