
.container {
  background-image: url(../../assets/img/noti.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  position: relative;
}
.container::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(65, 65, 65, 0.644);
}
.text {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-weight: 350;
  text-align: center;
  max-width: 845px;
  margin: 0 auto;
  padding: 56px 0px;
  line-height: 44px;
}
