@import '../../../assets/styles/global.scss';

.headerContainer {
    background-color: $total-white;
    width: 100%;
    min-height: 100px;
    margin-bottom: 50px;
}   
.headerContainer h1 {
    font-size: 48px;
    color:$total-dark-80;
    font-weight: 700;
    position: relative;
}
.headerContainer span {
    color: $semi-alice-blue;
}
