.headerBlock {
    display: flex;
    justify-content: space-between;
    min-height: 84px;
    background-color: #E5E8EC
}
.languages {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    width: 20%;
    font-size: 55px;
}