.headerContainer {
    background-color: #fff;
    width: 100%;
    min-height: 100px;
    margin-bottom: 50px;
}   
.headerContainer h1 {
    font-size: 48px;
    color:rgba(0, 0, 0, 0.8);
    font-weight: 700;
    position: relative;
}
.headerContainer span {
    color: #e5e8ec;
}
