@import '../../../assets/styles/global.scss';

.homeVideoBlock {
    min-height: 100vh;
    background-color: $total-white;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}