@import '../../../assets/styles/global.scss';

.mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.mainDescr {
    width: 100%;
    position: relative;
    color: $alice-blue;
}
.mainDescr h2 {
    margin: 0 auto;
    font-size: 50px;
    font-weight: 300;
    line-height: 2em;
}
.mainDescr h1 {
    margin: 0 auto;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: 500;
}