@import '../../../assets/styles/global.scss';

.aboutMeBlock {
    display: flex;
    justify-content: space-evenly;  
    padding: 50px 0;
    min-height: 70vh;
    background-color: $total-white;
    text-align: start;
}
.photoContainer {
    width: 40%;
    padding: 0 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.text {
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 300;
    color: $light-grey;
}
.contactsButton {
position: relative;
padding: 11px 35px;
line-height: 24px;
color: $light-dark;
text-align: center;
display: inline-block;
font-size: 14px;
font-weight: 400;
background: transparent;
letter-spacing: 1px;
text-transform: uppercase;
border: 1px solid $light-dark;
transition: 0.3s ease-in-out;
}
.contactsButton:hover {
    color: $total-white;
    background: $light-dark;
    border-color: $light-dark;
    cursor: pointer;
}

.linkContainer {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 200;
    color: $light-grey;
    background-color: $total-white;
    margin-right: 10px;
    border: 1px solid #e5e8ec;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    outline: none !important;
}
.link:hover {
    color: $total-white;
    background-color: $light-grey;
}
.link:focus {
    border: none;
}