@import '../../../../assets/styles/global.scss';

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 60%;
    margin-right: 20px;
}
.headers div a {
    color: $light-dark;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 28px 0px 25px;
    margin: 0 29px;
    position: relative;
    text-transform: capitalize;

    &:hover {
        font-size: 19px;
    }
}

  
.headers > .active {
    border-bottom: 2px solid $deep-blue-685;
    color: $dark-lazur;
}
  
.link{
    text-decoration: none;
    text-transform: capitalize;
    padding-bottom: 3px;
    font-weight: 400;
    letter-spacing: 2px;
}