.pricesBlock {
    min-height: 70vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.headerContainer {
    width: 100%;
    min-height: 100px;
}
.headerContainer h1 {
    font-size: 48px;
    color: #e5e8ec;
    font-weight: 700;
    position: relative;
}
.headerContainer span {
    
    color:rgba(0, 0, 0, 0.8);
}

.bodyContainer {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 50px;
}
.remoteLocalContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    font-size: 40px;
    font-weight: 300;
}
.spanContainer{
    position: relative;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
.spanContainer:hover :before {
    content: '';
  position: absolute;
  width: 35%;
  border: 1px dashed rgba(68, 75, 139, 0.658);
  top: 30px;
  left: 220px;
}
.spanContainer span {
    font-size: 30px;
    font-weight: 300;
    line-height: 44px;
    text-align: center;
    color:#333;
    padding: 0px 30px;
    box-shadow: none;
}
