$total-white: rgb(255, 255, 255);
$total-black: rgb(0, 0, 0);
$total-dark-332: rgba(0, 0, 0, 0.322);
$total-dark-623: rgba(0, 0, 0, 0.623);
$total-dark-80: rgba(0, 0, 0, 0.8);


//text-color
$alice-blue: aliceblue;
$light-grey: #848484;

//button-colors
$light-dark: #333;

//form-input colors
$semi-alice-blue: #e5e8ec;
$light-blue: rgb(127, 194, 252);

//navmenu-underline
$dark-lazur: rgb(85, 112, 112);
$deep-blue-685: rgba(68, 75, 139, 0.658);