.contacts {
    min-height: 80vh;
    background-color: #fff;;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .container {
    display: flex;
    width: 80%;
    min-height: 350px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  }
  .headerContainer h1 {
    font-size: 48px;
    color:rgba(0, 0, 0, 0.8);
    font-weight: 700;
    position: relative;
}
.headerContainer span {
    color: #e5e8ec;
}
  .text{
    color: aliceblue;
    transition: 2s all;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 300;
    font-stretch: normal;
    line-height: 1.2;
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 70px;
  }
  .form {
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-between;
  }
  .formInput{
    margin: 10px;
    padding: 7px;
    font-size: 17px;
    border: 1px solid rgb(127, 194, 252);
    border-radius: 2px;
    background-color: #e5e8ec;
    color: rgba(0, 0, 0, 0.8);
    resize: none;
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.4s ease-in-out 0s;
  }
  .formInput:focus {
    border:1px solid transparent
  }
  
  .contactButton{
    padding: 40px;
  }
  .worksButton {
    color: rgba(255, 255, 255, 0);
  transition: all 0.5s;
  position: relative;
	height: 50px;
	text-align: center;
	width: 150px;
  cursor: pointer;
  background-color: #e5e8ec;
  font-family:'Josefin Sans', sans-serif;
  }
  .worksButton span {
    transition: all 0.3s;
    text-transform: capitalize;
    color: #000000;
    font-size: 15px;
    font-weight: 900;
  }
  .worksButton:hover span {
    letter-spacing: 1px;
    color: rgb(127, 194, 252)
  }
  