.aboutMeBlock {
    display: flex;
    justify-content: space-evenly;  
    padding: 50px 0;
    min-height: 70vh;
    background-color: rgb(255, 255, 255);
    text-align: start;
}
.photoContainer {
    width: 40%;
    padding: 0 10px;
    background-image: url(../../assets/img/Koti.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.container {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.text {
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 300;
    font-family: 'Hind', sans-serif;
    color: #848484;
}
.title h1 {
    margin: 0 auto;
    font-size: 48px;
    color:#e5e8ec;
    font-weight: 700;
    position: relative;
}
.title span {
    color: rgba(0, 0, 0, 0.8);
}
.contactsButton {
position: relative;
padding: 11px 35px;
line-height: 24px;
color: #333;
text-align: center;
display: inline-block;
font-size: 14px;
font-weight: 400;
background: transparent;
letter-spacing: 1px;
text-transform: uppercase;
border: 1px solid #333;
font-family: 'Poppins', sans-serif;
transition: 0.3s ease-in-out;
}
.contactsButton:hover {
    color: #ffffff;
    background: #333;
    border-color: #333;
    cursor: pointer;
}
