.aboutMeBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 70vh;
    background-color: rgb(255, 255, 255);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.text {
    font-size: 30px;
    font-weight: 300;
    line-height: 44px;
    text-align: center;
    color:#333;
    padding: 0px 30px;
    box-shadow: none;
}
.title {
    margin-bottom: 50px;
}
.title h1 {
    font-size: 48px;
    color:#e5e8ec;
    font-weight: 700;
    position: relative;
}
.title span {
    color: rgba(0, 0, 0, 0.8);
}
